/* Add mobile styles for the component here.  */
@import '../../../../app-variables';

.action-bar {
    background-color: $main-color;
    border-color: $main-color;
    color: white;
    z-index: 0;
}

.settings {
    margin: 10;
}
.settings__icon {
    font-size: $extra-extra-large-size;
    text-align: center;
    vertical-align: center;
}
.settings__text {
    text-align: left;
    vertical-align: center;
    margin-left: 20;
    font-size: $medium-size;
    color: $normal-text-color;
}

.logout {
    text-align: left;
    vertical-align: center;
}
.logout__current-user {
    font-size: $small-size;
    margin-left: 20;
    text-align: left;
    vertical-align: bottom;
}
