/* Add mobile styles for the component here.  */
@import '../../../../app-variables';

.button-disabled {
    z-index: 0;
    color: gray;
    background-color: white;
}

.action-button {
    z-index: 0;
    color: $main-color;
    background-color: white;
}
