<ActionBar class="action-bar">
  <NavigationButton ios:visibility="collapsed" icon="res://menu_black" (tap)="onDrawerButtonTap()"></NavigationButton>
  <ActionItem icon="res://navigation/menu_black" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left"> </ActionItem>
  <Label class="action-bar-title" text="My day"></Label>
</ActionBar>

<FlexboxLayout flexDirection="column" *ngIf="!isBusy; else spinner">
  <StackLayout flexGrow="1" orientation="vertical">
    <StackLayout class="option option__main">
      <ns-todo-list-entry [todo]="todo" (toggleComplete)="onToggleComplete()" (toggleFavourite)="onToggleFavourite()"></ns-todo-list-entry>
    </StackLayout>

    <StackLayout class="container">
      <GridLayout columns="40, *, 40" rows="50" [ngClass]="{ selected: todo.isAddedToMyDay }" class="option" (tap)="onToggleAddToMyDay()">
        <Label text="&#xf185;" class="far option__icon" row="0" col="0"> </Label>
        <Label [text]="todo.isAddedToMyDay ? 'Added to My Day' : 'Add to My Day'" class="option__text" row="0" col="1"> </Label>
        <Label *ngIf="todo.isAddedToMyDay" text="&#xf00d;" class="fas option__remove" row="0" col="2"> </Label>
      </GridLayout>
    </StackLayout>

    <StackLayout class="container">
      <GridLayout columns="40, *" rows="50" class="option">
        <Label text="&#xf017;" class="far option__icon" row="0" col="0"> </Label>
        <Label [text]="'Remind me'" class="option__text option__separator" row="0" col="1"> </Label>
      </GridLayout>

      <GridLayout columns="40, *" rows="50" class="option">
        <Label text="&#xf073;" class="fas option__icon" row="0" col="0"> </Label>
        <StackLayout row="0" col="1" orientation="horizontal" verticalAlignment="center">
          <Label [text]="todo.dueDate | friendlyDate" width="100%" (tap)="onShowDueDatePicker()"></Label>
        </StackLayout>
      </GridLayout>

      <GridLayout columns="40, *" rows="50" class="option">
        <Label text="&#xf2f9;" class="fas option__icon" row="0" col="0"> </Label>
        <StackLayout row="0" col="1" orientation="vertical" verticalAlignment="center">
          <DropDown #ddRepeat class="dropdown" hint="Repeat" [items]="repeatSelections" [ngModel]="todo.repeatType" (selectedIndexChanged)="onRepeatTypeChange($event)"></DropDown>
          <Label *ngIf="repeatSelectionDetails" [text]="repeatSelectionDetails"></Label>
        </StackLayout>
      </GridLayout>
    </StackLayout>

    <StackLayout class="container">
      <GridLayout columns="40, *" rows="50" class="option">
        <Label text="&#xf0c6;" class="fas option__icon" row="0" col="0"> </Label>
        <Label [text]="'Add a file'" class="option__text" row="0" col="1"> </Label>
      </GridLayout>
    </StackLayout>

    <StackLayout class="container">
      <TextView hint="Add a note" class="option__note" [ngModel]="todo.description" (blur)="onDescriptionChange($event)"> </TextView>
    </StackLayout>
  </StackLayout>

  <StackLayout alignSelf="flex-end" class="remove-details">
    <GridLayout columns="*, 40" rows="*">
      <Label [text]="'Updated a few moments ago'" class="remove-details__text" row="0" col="0"> </Label>
      <Label (tap)="onDelete()" text="&#xf2ed;" class="far remove-details__icon" row="0" col="1"> </Label>
    </GridLayout>
  </StackLayout>
</FlexboxLayout>

<ng-template #spinner>
  <FlexboxLayout justifyContent="center" alignItems="center">
    <ActivityIndicator #activityIndicator [busy]="isBusy" class="activity-indicator"></ActivityIndicator>
  </FlexboxLayout>
</ng-template>
