<ActionBar class="action-bar">
  <NavigationButton android.systemIcon="ic_menu_back" text="Back" (tap)="goBack()"></NavigationButton>
  <Label class="action-bar-title" text=""></Label>
</ActionBar>

<AbsoluteLayout *ngIf="!isBusy; else spinner">
  <Button #saveButton (tap)="onSave()" text="&#xf1d8;" class="fas save-button" width="60" height="60"></Button>

  <FlexboxLayout flexDirection="column" width="100%" height="100%">
    <StackLayout class="header">
      <StackLayout class="header__item">
        <Label text="Task" class="header__title"></Label>
        <TextField [(ngModel)]="todo.title" class="header__text"></TextField>
      </StackLayout>

      <StackLayout class="header__item">
        <Label text="Project" class="header__title"></Label>
        <Label text="Inbox"></Label>
      </StackLayout>
    </StackLayout>

    <GridLayout flexGrow="1" rows="60, 60, 60, 60, 60, 60" columns="50, *" class="options">
      <Label text="icon" row="0" col="0"></Label>
      <StackLayout row="0" col="1">
        <Label text="Due date"></Label>
        <Label text="No due date"></Label>
      </StackLayout>

      <Label text="icon" row="1" col="0"></Label>
      <StackLayout row="1" col="1">
        <Label text="Priority"></Label>
        <Label text="Priority 4"></Label>
      </StackLayout>

      <Label text="icon" row="2" col="0"></Label>
      <StackLayout row="2" col="1">
        <Label text="Labels"></Label>
        <Label text="No label"></Label>
      </StackLayout>

      <Label text="icon" row="3" col="0"></Label>
      <StackLayout row="3" col="1">
        <Label text="Parent"></Label>
        <Label text="No parent"></Label>
      </StackLayout>

      <Label text="icon" row="4" col="0"></Label>
      <StackLayout row="4" col="1">
        <Label text="Comments"></Label>
        <Label text="No comments"></Label>
      </StackLayout>

      <Label text="icon" row="5" col="0"></Label>
      <StackLayout row="5" col="1">
        <Label text="Reminders"></Label>
        <Label text="No reminders"></Label>
      </StackLayout>
    </GridLayout>

    <StackLayout alignSelf="flex-end" class="remove-details">
      <GridLayout columns="*, 40" rows="*">
        <Label [text]="'Updated a few moments ago'" class="remove-details__text" row="0" col="0"> </Label>
        <Label (tap)="onDelete()" text="&#xf2ed;" class="far remove-details__icon" row="0" col="1"> </Label>
      </GridLayout>
    </StackLayout>
  </FlexboxLayout>
</AbsoluteLayout>

<ng-template #spinner>
  <FlexboxLayout justifyContent="center" alignItems="center">
    <ActivityIndicator #activityIndicator busy="true" class="activity-indicator"></ActivityIndicator>
  </FlexboxLayout>
</ng-template>
