@import '../../../../app-variables';

.remove-today {
  vertical-align: center;
  background-color: blue;
  height: 100%;
}
.remove-today__action {
  text-align: center;
  width: 100;
  text-decoration: line-through;
  font-weight: bold;
  color: white;
}

.delete {
  vertical-align: center;
  background-color: $error-color;
  height: 100%;
}
.delete__action {
  text-align: center;
  width: 100;
  font-weight: bold;
  color: white;
}
