<ActionBar class="action-bar">
  <NavigationButton ios:visibility="collapsed" icon="res://menu_black" (tap)="onDrawerButtonTap()"></NavigationButton>
  <ActionItem icon="res://navigation/menu_black" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left"> </ActionItem>
  <Label class="action-bar-title" text="Today"></Label>
</ActionBar>

<AbsoluteLayout>
  <StackLayout width="100%" height="100%">
    <StackLayout height="60" orientation="horizontal" *ngIf="(todos$ | async)?.length > 0">
      <Label text="Today" class="header__text"></Label>
      <Label [text]="todayDate | friendlyDate: 'weekDayMonthDay'" class="header__date"></Label>
    </StackLayout>
    <StackLayout height="1" width="95%" backgroundColor="LightGray"></StackLayout>

    <GridLayout rows="*, 120" columns="*">
      <ns-todo-list row="0" col="0" [todoItems]="todos$ | async" (addTodo)="onAddTodo($event)"></ns-todo-list>

      <StackLayout row="1" col="0" *ngIf="showAddTodo">
        <ns-add-todo (addTodo)="onAddTodo($event)" [defaultDueDate]="todayDate"></ns-add-todo>
      </StackLayout>
    </GridLayout>
  </StackLayout>

  <Border [ngClass]="{ hidden: showAddTodo }" #addTodoButton (tap)="onAddTodoAction()" class="add-todo-action" width="50" height="50" cornerRadius="100">
    <Label text="&#xf067;" class="fas add-todo-action__icon"></Label>
  </Border>

  <GridLayout *ngIf="(todos$ | async)?.length == 0" rows="*" columns="*" width="100%" height="100%">
    <StackLayout row="0" col="0" class="no-items">
      <Label class="no-items__header" text="What tasks are on your mind?"></Label>
    </StackLayout>
  </GridLayout>
</AbsoluteLayout>
