.add-todo {
  border-top-color: coral;
  border-top-width: 1;
  background-color: white;
  padding: 10;
}
.add-todo__input {
  width: 100%;
}
.add-todo__send {
  text-align: center;
  vertical-align: center;
  font-size: 26;
  background-color: white;
  z-index: 0
}
.add-todo__send--valid {
  color: coral;
}

.options {
  margin-top: 20;
}
.option__icon {
  font-size: 24;
  margin-right: 30;
}
.option__icon--active {
  color: coral;
}

.selected-option {
  width: auto;
  background-color: coral;
  vertical-align: center;
  text-align: center;
  padding: 5;
  margin-right: 5;
  border-radius: 5;
}
.selected-option__icon {
  font-size: 16;
  color: white;
  margin-right: 5;
  vertical-align: center;
  text-align: center;
}
.selected-option__text {
  font-size: 16;
  color: white;
}
