<RadSideDrawer drawerTransition="PushTransition">
  <GridLayout tkDrawerContent rows="auto, auto, *, auto" class="sidedrawer sidedrawer-left">
    <GridLayout row="0" rows="auto" columns="*, 50" (tap)="toggleUserOptions()">
      <StackLayout row="0" col="0" class="sidedrawer-header">
        <Image *ngIf="(currentUser$ | async)?.photoURL" [src]="(currentUser$ | async)?.photoURL" class="sidedrawer-avatar"></Image>
        <Label *ngIf="!(currentUser$ | async)?.photoURL" text="&#xf2bd;" class="sidedrawer-avatar sidedrawer-avatar--no-photo fas"></Label>
        <Label class="sidedrawer-header-text" [text]="(currentUser$ | async)?.displayName ? (currentUser$ | async)?.displayName : '- - -'"></Label>
        <Label class="sidedrawer-header-footnote" [text]="(currentUser$ | async)?.email"></Label>
      </StackLayout>
      <Label row="0" col="1" [text]="expandUserOptions ? '&#xf106;' : '&#xf107;'" class="fas user-options"></Label>
    </GridLayout>

    <StackLayout row="1" class="hr-light m-10"></StackLayout>

    <StackLayout *ngIf="!expandUserOptions" row="2">
      <GridLayout columns="auto, *" class="sidedrawer-list-item" (tap)="redirectAndCloseDrawer('/inbox')">
        <Label col="0" text="&#xf01c;" class="fas sidedrawer-icon"></Label>
        <Label col="1" text="Inbox" class="p-l-10 sidedrawer-item"></Label>
      </GridLayout>

      <GridLayout columns="auto, *" class="sidedrawer-list-item" (tap)="redirectAndCloseDrawer('/today')">
        <Label col="0" text="&#xf185;" class="far sidedrawer-icon"></Label>
        <Label col="1" text="Today" class="p-l-10 sidedrawer-item"></Label>
      </GridLayout>

      <GridLayout columns="auto, *" class="sidedrawer-list-item" (tap)="redirectAndCloseDrawer('/seven-days')">
        <Label col="0" text="&#xf073;" class="far sidedrawer-icon"></Label>
        <Label col="1" text="Next 7 days" class="p-l-10 sidedrawer-item"></Label>
      </GridLayout>
    </StackLayout>

    <StackLayout *ngIf="expandUserOptions" row="2">
      <GridLayout columns="auto, *" class="sidedrawer-list-item" (tap)="redirectAndCloseDrawer('/settings')">
        <Label text="&#xf013;" class="fas sidedrawer-icon"></Label>
        <Label col="1" text="Settings" class="p-l-10 sidedrawer-item"></Label>
      </GridLayout>
      <GridLayout columns="auto, *" class="sidedrawer-list-item" (tap)="onLogOut()">
        <Label text="&#xf2f5;" class="fas sidedrawer-icon"></Label>
        <Label col="1" text="Log out" class="p-l-10 sidedrawer-item"></Label>
      </GridLayout>
    </StackLayout>
  </GridLayout>

  <StackLayout tkMainContent height="100%">
    <page-router-outlet class="page page-content" [visibility]="!(showSpinner$ | async) ? 'visible' : 'collapsed'"></page-router-outlet>

    <FlexboxLayout #spinner [visibility]="(showSpinner$ | async) ? 'visible' : 'collapsed'" justifyContent="center" alignItems="center" height="100%">
      <ActivityIndicator #activityIndicator busy="true" class="activity-indicator"></ActivityIndicator>
    </FlexboxLayout>
  </StackLayout>
</RadSideDrawer>
