/* Add mobile styles for the component here.  */
.header {
    padding-left: 70;
    background-color: coral;
    color: white;
}
.header__item {
    margin-bottom: 20;
}
.header__title {
    font-size: 16;
    font-weight: bold;
}
.header__text {
    font-size: 26;
    border-color: white;
}

.save-button {
    font-size: 20;
    border-radius: 100;
    background-color: lightblue;
    color: coral;
}

.options {
    padding: 10;
}
.option__icon {
    font-size: 24;
}

.remove-details {
    height: 50;
    width: 100%;
    border-top-color: lightgray;
    border-top-width: 1;
}
.remove-details__icon {
    text-align: center;
    vertical-align: center;
    font-size: 20;
    color: red;
}
.remove-details__text {
    font-size: 14;
    margin-left: 10;
    vertical-align: center;
}
