/* Add mobile styles for the component here.  */
@import '../../../../app-variables';

.header {
    padding-left: 70;
    background-color: $main-color;
    color: white;
}
.header__item {
    margin-bottom: 20;
}
.header__title {
    font-size: $medium-size;
    font-weight: bold;
}
.header__text {
    font-size: $extra-large-size;
    border-color: white;
}

.save-button {
    font-size: $large-size;
    border-radius: 100;
    background-color: lightblue;
    color: $main-color;
}

.options {
    padding: 10;
}
.option__icon {
    font-size: $extra-large-size;
}

.remove-details {
    height: 50;
    width: 100%;
    border-top-color: lightgray;
    border-top-width: 1;
}
.remove-details__icon {
    text-align: center;
    vertical-align: center;
    font-size: $large-size;
    color: $error-color;
}
.remove-details__text {
    font-size: $medium-size;
    margin-left: 10;
    vertical-align: center;
}
