// Import the theme’s variables. If you’re using a color scheme
// other than “light”, switch the path to the alternative scheme,
// for example '~nativescript-theme-core/scss/dark'.
@import '~nativescript-theme-core/scss/light';

$main-color: coral;
$error-color: red;
$normal-text-color: black;

$extra-extra-extra-extra-large-size: 100;
$extra-extra-extra-large-size: 60;
$extra-extra-large-size: 36;
$extra-large-size: 26;
$large-size: 20;
$medium-size: 16;
$small-size: 12;
